<h1>Ubicaciones</h1>
<p *ngIf="loadingService.loading$ | async">
  Cargando...
</p>

<div>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar por ubicacion">
  <button type="button" (click)="search()">Buscar</button>
</div>
<div *ngFor="let location of locations">
  <h2>{{ location.name }}</h2>

  <p>
    <strong>Tipo:</strong>
    {{ location.type }}
  </p>

  <p>
    <strong>Dimensión:</strong>
    {{ location.dimension }}
  </p>

  <p>
    <strong>Residentes:</strong>
    {{ location.residents.length }}
  </p>
  <hr>
</div>
<div>
  <button type="button" (click)="goToPage(currentPage -1)" [disabled]="!hasPreviousPage" >Anterior</button>
    <span>Pagina {{ currentPage }}</span>
    <button type="button" (click)="goToPage(currentPage +1)" [disabled]="!hasNextPage" >Siguiente</button>

</div>